{% extends 'layout.html' %}

{% block body %}

<form action="/register" method="post">
  <label for="name">Email: </label>
  <input type="text" name="email" value="" placeholder="Email" autocomplete="off" autofocus>
<label for="sports">Please select the sport: </label>
<select class="" name="sports">
<option value="" selected = 'selected' disabled>sport</option>
  {% for sport in sports %}
<option value="{{sport}}">{{sport}}</option>
    {% endfor %}
    </select>
  <input type="submit">
</form>

{% endblock %}
